#main {
    padding: 10px;
}

body {
    font-family: "Open Sans";
}

.title h3 {
    font-size: 20px;
    font-weight: light;
}

a {
    color: #555;
    font-size: 13px;
    text-decoration: underline;
}

rect.barchart.background {
    fill:white;
}